/.git
/bin
/.vs
src/EntJoy.SourceGenerator/.vs
src/EntJoy/.vs
src/Godot/.vs
/.vscode
src/EntJoy.SourceGenerator/bin
src/EntJoy.SourceGenerator/obj
src/EntJoy/bin
src/EntJoy/obj
src/EntJoySample/bin
src/EntJoySample/obj
src/NativeDll/NativeDll
src/NativeTranspiler.Tasks/bin
src/ativeTranspiler.Tasks/obj
